body{
	font-family: Verdana, sans-serif
}
.div_chart{ 
	display:block;
}
.div_filterBar{
	background:#c1d68b;
}
span{
	display:inline-block;
	font-size:large;
}
.ul_filter{
	list-style: none;
	display:inline;
}
.ul_filter li {
    display:inline-block;
    margin-right:20px;
}

.ul_filter li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: large;
}

.ul_filter li a:hover {
    background-color: #c0c0c0;
    cursor: pointer;
}